[submodule "templates/scaffold_with_sass"]
	path = templates/scaffold_with_sass
	url = git@github.com:philhawksworth/11ty-scaffold-with-sass.git
[submodule "templates/scaffold_with_serverless"]
	path = templates/scaffold_with_serverless
	url = git@github.com:philhawksworth/11ty-with-serverless.git
[submodule "templates/eleventy-base-blog"]
	path = templates/eleventy-base-blog
	url = git@github.com:11ty/eleventy-base-blog.git
[submodule "templates/11ty-netlify-jumpstart"]
	path = templates/11ty-netlify-jumpstart
	url = git@github.com:5t3ph/11ty-netlify-jumpstart.git
