<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <h1>test image uploader</h1>

  {# <form action="/.netlify/functions/upload" method="POST" enctype="multipart/form-data">
    <input type="file" id="fileUpload" name="image" accept="image/*">
    <input type="submit" />
  </form> #}


  <script>


  {# document.querySelector('#fileUpload').addEventListener('change', event => {
    handleImageUpload(event)
  }) #}


  const handleImageUpload = event => {
  const files = event.target.files
  const formData = new FormData()
  formData.append('myFile', files[0])

  fetch('/.netlify/functions/upload', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    console.log(data)
  })
  .catch(error => {
    console.error(error)
  })
}

  </script>
</body>
</html>
