---
title: Home
layout: layouts/base.njk
---


<h1>11ty Scaffold</h1>
<p>Baseline starting point</p>
<ul>
  <li>Nunjucks template inheritance</li>
  <li>Sass pipeline with SCSS</li>
  <li>Responsive breakpoints via mixins</li>
  <li>Image passthrough without optimisation</li>
</ul>

