@import '_mixins';
@import '_variables';


html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #444;
  font-family: Georgia, serif;
  font-weight: normal;
  line-height: 28px;
  font-size: 14px;
  background-color: #333;

  @include bp(narrow) {
    line-height: 31px;
    font-size: 16px;
  }
  @include bp(wide) {
    display: flex;
    flex-direction: row;
  }
}
