---
title: Home
layout: layouts/base.njk
---

<h1>11ty Scaffold with Netlify Functions</h1>
<p>Baseline starting point plus serverless</p>
<ul>
  <li>Nunjucks template inheritance</li>
  <li>Sass pipeline with SCSS</li>
  <li>Responsive breakpoints via mixins</li>
  <li>Image passthrough without optimisation</li>
  <li>Serverless with Netlify Functions</li>
  <li>Netlify Dev local dev pipeline</li>
</ul>

